.money-list{
  ul{
    li{
      list-style: none;
      margin-bottom: 0.1rem;
      height: 0.5rem;
      border-radius: 0.04rem;
      overflow: hidden;
      box-shadow: 0.01rem 0.02rem 0.02rem rgba(0,0,0,0.3);
      
      h3, .info, .tool{
        float: left;
      }
      h3{
        width: 36%;
        height: 0.5rem;
        background: #80c0aa;
        // border-right: #fff6e7 0.03rem dashed;
        box-sizing: border-box;
        padding-left: 0.1rem;
        font-size: 0.2rem;
        line-height: 0.5rem;
        font-family: myFont;
        color: #fff6e7;
        span{
          display: inline-block;
        }
        .icon-bg{
          width: 0.29rem;
          height: 0.35rem;
          vertical-align: middle;
          background: url('/assets/images/price.png') no-repeat;
          background-size: 100%;
          margin-right: 0.05rem;
        }
      }
      .in-color{
        background: #80c0aa;
      }
      .out-color{
        background: #F24C4A;
      }
      
      .info{
        background: #fbdaaf;
        width: 54%;
        height: 0.5rem;
        line-height: 0.2rem;
        padding: 0.05rem 0.1rem;
        box-sizing: border-box;
        span{
          margin-right: 0.1rem;
          font-size: 0.12rem;
          font-weight: bold;
        }
      }
      .tool{
        background: #fbdaaf;
        width: 10%;
        text-align: center;
        line-height: 0.5rem;
        border-left: #80c0aa 0.03rem dashed;
        box-sizing: border-box;
        color: #fff;
      }
    }
  }
}