.App{
  height: 100vh;
  overflow-x: auto;
  box-sizing: border-box;
  overflow-x: auto;
  padding: 0.2rem;
  padding-bottom: 1rem;
  background: #3f9292 url(assets/images/bg.png) no-repeat;
  background-size: 100% auto;
  .app-wrap{
    padding: 0 0.1rem;
  }
}